/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Funnel Display, sans-serif;
}


body {
  font-family: "Red Hat Text", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Título */
h1 {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

/* Botones de acción */
.admin-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.admin-buttons button {
  background-color: #222;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.admin-buttons button:hover {
  background-color: #444;
}

/* Formulario */
form {
  background-color: white;
  max-width: 800px;
  margin: 0 auto 3rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow-x: auto;
  max-width: 100%;

}

.hidden {
  display: none;
}

form h3 {
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Grid responsivo */
.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.form-grid input,
.form-grid select {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Botones del formulario */
.form-actions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.primary {
  background-color: #2a9d8f;
  color: white;
}

.primary:hover {
  background-color: #21867a;
}

.secondary {
  background-color: #ccc;
  color: black;
}

.secondary:hover {
  background-color: #aaa;
}
