/* Footer */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body > *:not(.site-footer) {
  flex-shrink: 0;
}

.site-footer {
  background: #717568;
  color: #F2F2F2;
  text-align: center;
  padding: 1rem;
  width: 100%;
  font-family: 'Red Hat Text', sans-serif;
  margin-top: auto;
}

.footer-content a {
  color: #F2F2F2;
  text-decoration: none;
  margin: 0 1rem;
}

.footer-content a:hover {
  text-decoration: underline;
}
