main {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2 auto;
  grid-template-areas:
    "grid-images-layout grid-images-layout product-detail-layout"
    "product-info-block product-info-block product-info-block";
  padding: 20px;
}
/* Сітка зображень */
#grid-images-layout {
  grid-area: grid-images-layout;
  min-width: 200px;
  padding: 1.5rem;
  border: 1px solid #ddd;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  /* position: relative; використовується, якщо потрібно позиціонувати абсолютні елементи */
}
#grid-images-layout img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}
/* Детальна інформація про товар */
#product-detail-layout {
  grid-area: product-detail-layout;
  /* Додаткові стилі, наприклад, можна або використовувати власну сітку, або просто блокову модель */
  padding: 1.5rem;
  border: 1px solid #ddd;
}
/* Адаптивність для вузьких екранів */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "grid-images-layout"
      "product-detail-layout"
      "product-info-block";
  }
}
