main > div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#grid-images-layout {
  flex: 1 1 0%;
  min-width: 200px;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  display: grid;
  grid-column-gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  height: auto;
  gap: 1rem;
  position: relative;
}

#product-detail-layout {
}

#product-info-block {
}
