form {
  max-width: 300px;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  color: #3E2A35;
}

